{% extends "base.html" %}

{% block title %}Home Page -Blog{% endblock %}

{% block content %}

{% for post in posts %}
<div class="card shadow bg-custom-post-head mb-3 desktop-card" style="width: 94%; margin: 25px 15px; border:none;">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div class="w-100 pb-0">
                <a class="text-decoration-none " href="{% url 'post_detail' post.pk %}">

                    <div
                            class="d-flex justify-content-start align-items-center ps-2 p-1  mb-2 rounded" >
                        <div class="">
                            <img class="post-user-thumb"
                                 src="{{ post.author.userprofile.profile_image.url }}" alt="">
                        {% load humanize %}
                        </div>

                        <div class="p-1">
                            <p class="text-danger pm-zero"><b> {{ post.author.username }}</b></p>
                            <p class="tiny-text  pm-zero text-dark fst-bold" >{{ post.created_at|naturaltime }}</p>
                        </div>
                    </div>

                    <h4 class="card-title text-info py-2 ps-2 rounded "><b>{{ post.title }}</b></h4>
                    <p class="card-text text-muted text-break text-wrap ps-2 ">
                        <small>{{ post.content|truncatewords:50 }}</small>
                    </p>

                </a>
                <p class="pt-2 ps-1">
                    <!--                           <form class=" shadow-sm d-flex text-danger me-2 mt-2 bg-light border border-2 border-muted rounded" method="post" action="{% url 'add_comment' post.pk %}">-->
                    <!--                                {% csrf_token %}-->
                    <!--                                <input name="text" class="form-control form-control-sm border-0"-->
                    <!--                                 placeholder="Quick Reply...">-->
                    <!--                                <button type="submit" class="btn btn-sm bg-white text-danger">➤</button>-->
                    <!--                           </form>-->
                    {% if request.user.is_authenticated %}
                        <span class="text-lightpro badge p-1" style="border-radius:0">
                            <i><b class="fs-5 text-info">{{ post.total_likes }}</b>&nbsp;<sub>thumb</sub></i>
                        </span>
                        <span class="text-secondary">&bull;</span>
                        <span class="text-dark fst-italic badge p-1" style="border-radius:0">
                               {% if  post.total_comments  %}
                                  <span class="text-danger fs-5">{{ post.total_comments}}</span> Replied
                               {% else %}
                                   <span class="text-info">Be the first to reply</span>
                               {% endif %}
                        </span>
                    {% else %}
                        <span class="badge text-light bg-info">Log in to read full post!</span>
                    {% endif %}
                </p>
            </div>

            {% load app_icons %}
            {% load post_extras %}
            <div
                    class="m-auto bg-bluelight shadow-sm p-2 rounded ms-2 d-flex flex-column justify-content-center align-items-center">
                <div class="mb-2 text-center">
                    <button class="btn btn-white text-secondary shadow-sm" data-bs-toggle="modal" data-bs-target="#requoteModal{{ post.pk }}">
                         {% get_icon "requote" %}
                    </button>
                    <!-- Requote Modal -->
                        <div class="modal fade" id="requoteModal{{ post.pk }}" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form method="post" action="{% url 'requote_post' post.pk %}">
                                        {% csrf_token %}
                                        <div class="modal-header">
                                            <h5 class="modal-title">Requote</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body" >
                                            <textarea name="caption" class="form-control" rows="3" placeholder="Add your caption..."></textarea>
                                            <hr>
                                            <div class="border p-2 border text-start " >
                                                <h6 class="bg-custom-title text-dark text-start p-2 rounded">{{ post.title }}</h6>
                                                <p class="text-muted text-wrap text-start fs-6">
                                                    {{ post.content|truncatewords:10 }}</p>
                                            </div>
                                        </div>
                                        <div class="modal-footer d-flex">
                                            <button type="button" class="btn btn-danger text-light" data-bs-dismiss="modal">Cancel
                                            </button>
                                            <button type="submit" class="btn btn-primary text-light">Requote</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                </div>

                <div class="text-center">

                    {% if request.user.is_authenticated %}

                    <form action="{% url 'toggle_like' post.pk %}" method="post">
                        {% csrf_token %}
                        {% if post|liked_by_user:user %}
                        <button type="submit" class="btn btn-info shadow-sm text-light">
                            {% get_icon "thumb" %}
                        </button>
                        {% else %}
                        <button type="submit" class="btn btn-white text-secondary shadow-sm">
                            {% get_icon "thumb" %}
                        </button>
                        {% endif %}
                    </form>

                    {% else %}
                               <span class="text-info badge p-0" style="border-radius:0">
                                       <b class="fs-6 fst-italic text-info">{{ post.total_likes }}</b>
                                       {% get_icon "thumb" size=15 %}
                               </span>

                    {% endif %}
                </div>

            </div>

        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
